<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">

  <title inertia>PalaGuideBot</title>

  @if(app.inProduction)
    <script defer src="{{env.get('UMAMI_SCRIPT_URL')}}" data-website-id="{{env.get('UMAMI_WEBSITE_ID')}}"></script>
  @end

  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body class="font-sans">
  <script src="/js/noflash.js"></script>
  @inertia()
</body>

</html>