@import '@fontsource/inter/100.css';
@import '@fontsource/inter/200.css';
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

@font-face {
  font-family: 'Pixel NES';
  src: url('~/assets/fonts/pixel-nes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft Dungeons';
  src: url('~/assets/fonts/minecraft-dungeons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
