TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=6e8PvaOYxDjJGWc9__yml4n2_943419s
NODE_ENV=development

# API
API_URL=
API_KEY=

DISCORD_INVITE_URL=https://discord.gg/FsA2TfSSH4
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

SESSION_DRIVER=cookie

# UMAMI
UMAMI_SCRIPT_URL=
UMAMI_WEBSITE_ID=